################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/matrix/matrix3/bin/Debug
/matrix/matrix3/obj/Debug
/matrix/matrix2/bin/Debug
/matrix/matrix2/obj/Debug
/matrix/matrix/bin/Debug
/matrix/matrix/obj/Debug
/.vs/ReposCsNew/v17
/ConsoleApp1
/hw10.10.22
/matrix/matrix3
/classwork/Pyatiminutka/bin/Debug
/classwork/Pyatiminutka/obj/Debug
/classwork/Pyatiminutka/Properties
/classwork/Stepen/bin/Debug
/classwork/Stepen/obj/Debug
/classwork/Stepen/Properties
/Tset/Tset
/vehicle/vehicle
/Variant8/Variant8
/Variant8
/Tset
